.vscode
.idea
.clwb
clang.bazelrc
/bazel-*
.DS_Store
/build_release
/run/config/config.json
user.bazelrc
compile_commands.json

# This holds the .cache of tools and bazel build output.
.cache
# This holds the current binary dist archive.
/dist
